---
# AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 0
# IndentCaseLabels: false
IndentWidth: 4
# SortIncludes: Never
UseTab: Never
# ---
# Language: Cpp
# Force pointers to the type for C++.
# DerivePointerAlignment: false
# PointerAlignment: Left
